<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goToHome()">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista" href="/organiseitor/lista">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historial" href="/organiseitor/historial">
      <ion-icon aria-hidden="true" name="time"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>